@model VideoRental2.ViewModels.ShowChartViewModel
@{
    ViewBag.Title = "AjaxTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AjaxTest</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  

@using (Ajax.BeginForm("TestExecutable", "Customer", new AjaxOptions
{//GetPatients is name of method in PatientController
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    UpdateTargetId = "patientList",
    LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}))
{
    <div class="form-group">
        @Html.LabelFor(m => m.yVal)
        @Html.DropDownListFor(model => model.yVal, new SelectList(Model.dataSets, "id", "dataName"), "Select Variable", new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.dataSets)//, new { @value = Model.dataSets }
    
    for (int i = 0; i < Model.dataSets.Count(); i++)
    {
        for (int j = 0; j < Model.dataSets[i].mag.Count(); j++)
        {
            @Html.HiddenFor(m => m.dataSets[i].mag[j])
        }
        @Html.HiddenFor(m => m.dataSets[i].dataName)
        @Html.HiddenFor(m => m.dataSets[i].id)
        @Html.HiddenFor(m => m.dataSets[i].type)
    }
    
    @Html.HiddenFor(m => m.xVal)//, new { @value = Model.dataSets }
}

@* ... *@
<div id="loader" class=" aletr" style="display:none">
    Loading...<img src="~/Images/ajax-loader.gif" />
</div>
@{
    var myChart = new Chart(width: 600, height: 400)
    .AddTitle("Chart Title")
    .AddSeries(chartType: "Line",
    name: "Employee",
    xValue: Model.dataSets.ElementAt(Model.xVal).mag,
    yValues: Model.dataSets.ElementAt(Model.yVal).mag);
}
